.login {
  min-height: 74vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-form {
  background: rgba(99, 156, 213, 0.541);
  width: 40%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.login-form-dark {
  background: rgba(1, 55, 109, 0.491);
  color: white;
  width: 40%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
