/* .card-list {
  padding: 15px 0 30px 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 45vh 45vh 45vh 45vh;
  min-height: 78vh;
  gap: 2rem;
}
.search-div {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding-top: 15px;
  gap: 3rem;
} */
/* .comment {
  height: 400px;
  width: 200px;
  background: white;
  position: absolute;
  top: 135px;
  left: 87%;
} */

/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 767px) {
  .card-list {
    padding: 15px 0 30px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    /* grid-template-rows: auto; */
    grid-template-rows: 45vh 45vh 45vh 45vh;
    min-height: 78vh;
    gap: 2rem;
  }
  .search-div {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    gap: 3rem;
  }
}
/* @media (min-width: 576px) {
} */

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .card-list {
    padding: 15px 0 30px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    /* grid-template-rows: auto; */
    grid-template-rows: 45vh 45vh 45vh 45vh;
    min-height: 78vh;
    gap: 2rem;
  }
  .search-div {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    /* justify-content: center; */
    padding-top: 20px;
    gap: 3rem;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .card-list {
    padding: 15px 0 30px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    /* grid-template-rows: auto; */
    grid-template-rows: 45vh 45vh 45vh 45vh;
    min-height: 78vh;
    gap: 2rem;
  }
  .search-div {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    /* justify-content: center; */
    padding-top: 20px;
    gap: 3rem;
  }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .card-list {
    padding: 15px 0 30px 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    /* grid-template-rows: auto; */
    grid-template-rows: 45vh 45vh 45vh 45vh;
    min-height: 78vh;
    gap: 2rem;
  }
  .search-div {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    /* justify-content: center; */
    padding-top: 20px;
    gap: 3rem;
  }
}
