.footer {
  height: 15vh;
  background: rgb(99, 156, 213);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.footer-dark {
  height: 15vh;
  background: rgb(1, 55, 109);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.icons-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.icon-footer {
  font-size: 40px;
  color: rgba(0, 0, 0, 0.753);
  border: 1px solid rgba(0, 0, 0, 0.239);
  border-radius: 20px;
  padding: 5px;
}
.icon-footer:hover {
  font-size: 40px;
  color: rgba(0, 0, 0, 0.556);
  border: 1px solid rgba(0, 0, 0, 0.239);
  border-radius: 20px;
  padding: 5px;
}
.icon-footer-dark {
  font-size: 40px;
  color: rgba(255, 255, 255, 0.732);
  border: 1px solid rgba(0, 0, 0, 0.239);
  border-radius: 20px;
  padding: 5px;
}
.icon-footer-dark:hover {
  font-size: 40px;
  color: rgba(255, 255, 255, 0.429);
  border: 1px solid rgba(0, 0, 0, 0.239);
  border-radius: 20px;
  padding: 5px;
}
