.login-button {
  border: 1px solid white;
  color: white;
  border-radius: 7px;
  background: none;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px;
}
.login-button-dark {
  border: 1px solid black;
  color: black;
  border-radius: 7px;
  background: none;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px;
}
