.comment-item {
  border-radius: 12px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.comment-item-dark {
  border-radius: 12px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  padding: 20px;
  box-shadow: rgba(255, 255, 255, 0.298) 0px 3px 6px,
    rgba(255, 255, 255, 0.163) 0px 3px 6px;
  color: white;
  border: 1px solid rgba(0, 0, 0, 0.238);
}
